/* CSS Document */

.lufers{
height: 200px;
width: 2400px;
object-fit: cover;
	background: #E60AE5
	
}
.conc{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.21);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.1px);
-webkit-backdrop-filter: blur(10.1px);
border: 1px solid rgba(255, 255, 255, 0.16);
	
}
